* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  list-style: none;
}

/* ---------- Estilos del navbar ------------- */
.navbar {
  width: 100%;
  padding: 0 50px;
  background-color: #333333;
}

.navbar__ul {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  column-gap: 50px;
  row-gap: 30px;
}

.navbar__item {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

/* ---------- Estilos del formulario ------------- */

.form__container {
  width: 100%;
  margin: 75px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
  max-width: 90%;
  background-color: #333333;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.form__inputContainer {
  width: 90%;
}

.form__label {
  color: #fff;
}

.form__input {
  width: 100%;
  height: 2rem;
  margin-top: 3px;
  border-top: none;
  border-right: none;
  border-radius: 5px;
  padding-left: 10px;
}

.form__button {
  width: fit-content;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #e57e1f;
  color: #fff;
  font-weight: bold;
  box-shadow: inset 0px 0px #fff;
  cursor: pointer;
  transition: box-shadow 300ms;
}

.form__button:hover {
  box-shadow: inset -200px 0px #fff;
  background-color: #e57e1f;
  color: #333333;
}

/* ---------- Estilos de la tabla ------------- */

.chat-table__container {
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

.table {
  width: 80%;
  min-width: 600px;
  max-width: 600px;
  border-collapse: collapse;
}

.table__th,
.table__td {
  border: 1px solid #333333;
  padding: 5px 10px;
}

.table__th {
  background-color: #333333;
  color: #fff;
  border: 1px solid #fff;
}

.table__td > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* ---------- Estilos del chat ------------- */

.chat__container {
  width: 400px;
  height: 440px;
  background-color: #333333;
  border-radius: 20px;
  padding: 25px;
}

.chat__messagesContainer {
  width: 100%;
  height: 310px;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: auto;
}

.message__email {
  margin-top: 20px;
  color: #0000ff;
  font-weight: bold;
}

.message__date {
  color: #88531e;
}

.message__text {
  color: #1bc72f;
  font-style: italic;
}

.chat__input {
  width: 90%;
  height: 2rem;
  margin-top: 3px;
  border-top: none;
  border-right: none;
  border-radius: 5px;
  padding-left: 10px;
}

.chat__sendButton {
  width: 30px;
  height: 30px;
  background-color: #e57e1f;
  border-radius: 8px;
  float: right;
  cursor: pointer;
}

.chat__buttonIMG {
  width: 25px;
}
