<div class="errorContainer">
  <h1 class="errorTitle">Error al realizar la compra</h1>
  <h2 class="errorTitle">(Error: {{errorCode}})</h2>
  <p class="errorText">{{error}}</p>
</div>

<script type="text/javascript">
  setTimeout( () => { window.location.href = "/" }, 3000 );
</script>