<div class="logout__container">
  <h2 id="logout-message" class="logout__title">Hasta luego
    {{name}}</h2>

  <script>
    setTimeout( () => { window.location.href = "/login"; }, 2000 );
  </script>
</div>