<div class="nav__container">
  <div></div>
  <div></div>
  <div class="welcome-message__container">
    <h2>Bienvenido {{name}}</h2>
    <a class="log-out__button" href="./logOut">Log out</a>
  </div>
</div>

<div class="menu_container">
  <div class="menu">
    <a href="/products" class="menu_link">Productos</a>
    <a href="/chat" class="menu_link">Chat</a>
    <a href="/userInfo" class="menu_link">User info</a>
    <a href="/userCart" class="menu_link">Cart</a>
  </div>
</div>