<div class="errorContainer">
  <h1 class="errorTitle">Error al loguearse</h1>

  <p class="errorText">El email/alias o contraseña ingresados son incorrectos</p>
</div>

<script type="text/javascript">
  setTimeout( () => { window.location.href = "/login" }, 3000 );
</script>