<div class="login-form__container">
  <h2 class="messages__title">Iniciar sesión</h2>

  <form class="login-form">
    <label for="name">Ingrese su nombre</label>

    <input
      class="login__input"
      id="name"
      type="text"
      required
      placeholder="Nombre se usuario"
    />

    <button type="button" class="login-form__button" onclick="login()">
      Enviar
    </button>
  </form>

  <script src="/login-logOut.js"></script>
</div>