<div class="login-form__container">
  <a href="/register" class="login--redirectionButton">Register</a>
  <h2 class="messages__title">Iniciar sesión</h2>

  <form class="login-form">
    <label for="userAlias">Usuario:</label>
    <input
      class="login__input"
      id="user"
      type="text"
      required
      placeholder="Nombre de usuario / Email"
    />

    <label for="userPass">Contraseña:</label>
    <input
      class="login__input"
      id="userPass"
      type="password"
      required
      placeholder="Contraseña de usuario"
    />

    <button type="button" class="login-form__button" onclick="login()">
      Enviar
    </button>
  </form>

  <script src="/login-logOut.js"></script>
</div>