<div id="errorMessage">Mensaje de error</div>

<div class="login-form__container">
  <a href="/login" class="login--redirectionButton">Log In Form</a>
  <h2 class="messages__title">Formulario de registro</h2>

  <form class="login-form">
    <label for="userEmail">Email:</label>
    <input
      class="login__input"
      id="userEmail"
      type="text"
      required
      placeholder="Email del usuario"
    />

    <label for="userAlias">Nombre de usuario:</label>
    <input
      class="login__input"
      id="userAlias"
      type="text"
      required
      placeholder="Nombre de usuario"
    />

    <label for="userPass">Contraseña:</label>
    <input
      class="login__input"
      id="userPass"
      type="password"
      required
      placeholder="Contraseña de usuario"
    />

    <input
      class="login__input"
      id="passConfirm"
      type="password"
      required
      placeholder="Confirmar contraseña"
    />

    <button
      type="button"
      id="register-button"
      class="login-form__button"
      onclick="registerUser()"
    >
      Enviar
    </button>
  </form>

  <script src="/register.js"></script>
</div>