<div class="form__container">
  <h2 class="messages__title">Iniciar sesión</h2>

  <form action="http://localhost:3000" method="post">
    <label for="name">Ingrese su nombre</label>

    <input
      class="chat__input"
      id="name"
      type="text"
      required
      placeholder="Nombre se usuario"
    />

    <button type="submit" class="login-form__button">
      Enviar
    </button>
  </form>
</div>