include partials/head.pug
include partials/nav.pug

table(class='table')
  thead(class='table__head')
    th(class='table__th') ID
    th(class='table__th') Nombre
    th(class='table__th') Precio
    th(class='table__th') Imagen
  tbody
    if products
      each product in products
        tr(class='table__tr')
          td(class='table__td')= product.id 
          td(class='table__td')= product.title
          td(class='table__td')= `AR$ ${product.price}`
          td(class='table__td')
            img(src=product.thumbnail height='30px')
    else 
      tr(class='table__tr')
        td(class='table__td') 
        td(class='table__td') No se hallaron productos
        td(class='table__td')
        td(class='table__td')