{{> nav }}


<div class='form__container'>
    <form id="form">
        <div class='form__inputContainer'>
            <label class='form__label'>Nombre del Producto</label>
            <input class='form__input' id='nombre' />
        </div>

        <div class='form__inputContainer'>
            <label class='form__label'>Precio en AR$</label>
            <input class='form__input' id='precio' />
        </div>

        <div class='form__inputContainer'>
            <label class='form__label'>URL de la imagen</label>
            <input class='form__input' id='urlImagen' />
        </div>

        <button type='submit' class='form__button' onclick='guardarProducto()'>Guardar</button>
    </form>
</div>
<script src="js/main.js"></script>