{{> nav }}
<div class='container mt-5'>
    <div class='row'>
        <div class='col'>
            <form id="data">
                <div class='mb-3'>
                    <label class='form-label'>Nombre del Producto</label>
                    <input class='form-control' id='nombre' />
                </div>
                <div class='mb-3'>
                    <label class='form-label'>Precio en AR$</label>
                    <input class='form-control' id='precio' />
                </div>
                <div class='mb-3'>
                    <label class='form-label'>URL de la imagen</label>
                    <input class='form-control' id='urlImagen' />
                </div>
                <button type='submit' class='btn btn-primary' onclick='guardarProducto()'>Guardar</button>
            </form>
        </div>
    </div>
</div>
<script src="js/main.js"></script>