nav(class="navbar")
  ul(class='navbar__ul')
    li(class='navbar__li')
      a(class='navbar__item' href='../') Cargar producto
    li(class='navbar__li')
      a(class='navbar__item' href='../productos') Lista de productos