* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333333;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.main__title {
  color: #f4e5d7;
}

.form {
  width: 400px;
  max-width: 90%;
  background-color: #f4e5d7;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.form__input {
  width: 100%;
  height: 2rem;
  border-top: none;
  border-right: none;
  border-radius: 5px;
  padding-left: 10px;
}

.form__button {
  width: fit-content;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #e57e1f;
  color: #fff;
  font-weight: bold;
}

.form__button:hover {
  box-shadow: inset -200px 200px #fff;
  background-color: #e57e1f;
  color: #333333;
}
